### dictionary
  - ordered
  - mutable
  - heterogenous
  - key value pair
        - key are immutable, and unique
        - value can be mutable or immutable and can be duplicate and have any type
  - unindexed
  - represented by '{ }'
  - dict() that can take key value pair as argument

### creating

In [1]:
fruits = {
    'apple':2,
    'banana':3,
    'orange':5
}

In [35]:
grocery ={
    'fruits':['apple','banana','orange','grape'],
    'vegetables':['carrot', 'lettuce', 'onion'],
    'diary':['milk','cheese','yogurt'],
    'meat': None

}

In [12]:
reports={
    'Rohan':{
        'maths': 90,
        'science': 80,
        'english': 90,
    },
        'Roh':{
        'maths': 903,
        'science': 830,
        'english': 930,
    }
}

In [13]:
print(fruits)
print(grocery)
print(reports)

{'apple': 2, 'banana': 3, 'orange': 5}
{'fruits': ['apple', 'banana', 'orange', 'grape'], 'vegetables': ['carrot', 'lettuce', 'onion'], 'diary': ['milk', 'cheese', 'yogurt'], 'meat': None}
{'Rohan': {'maths': 90, 'science': 80, 'english': 90}, 'Roh': {'maths': 903, 'science': 830, 'english': 930}}

In [8]:
from pprint import pp

In [14]:
pp(fruits)
pp(grocery)
pp(reports)

{'apple': 2, 'banana': 3, 'orange': 5}
{'fruits': ['apple', 'banana', 'orange', 'grape'],
 'vegetables': ['carrot', 'lettuce', 'onion'],
 'diary': ['milk', 'cheese', 'yogurt'],
 'meat': None}
{'Rohan': {'maths': 90, 'science': 80, 'english': 90},
 'Roh': {'maths': 903, 'science': 830, 'english': 930}}

- fetch
- updating
- adding
- deleting

In [18]:
fruits['apple'] #retrieve value from dictionary

2

In [19]:
fruits['apple'] = 10 #update the value in dictionary
pp(fruits)

{'apple': 10, 'banana': 3, 'orange': 5}

In [21]:
fruits['mango'] = 25 #adding new key value pair in dictionary
pp(fruits)

{'apple': 10, 'banana': 3, 'orange': 5, 'mango': 25}

In [23]:
grocery['spices']=['cumin', 'coriander', 'tumeric']
pp(grocery)

{'fruits': ['apple', 'banana', 'orange', 'grape'],
 'vegetables': ['carrot', 'lettuce', 'onion'],
 'diary': ['milk', 'cheese', 'yogurt'],
 'meat': None,
 'spices': ['cumin', 'coriander', 'tumeric']}

In [27]:
grocery['fruits'].append('mango')#add new value in list
pp(grocery)

{'fruits': ['apple', 'banana', 'orange', 'grape', 'mango'],
 'vegetables': ['carrot', 'lettuce', 'onion'],
 'diary': ['milk', 'cheese', 'yogurt'],
 'meat': None}

In [29]:
reports['Rohan']['evs']=99  # to add new key in dictionary
pp(reports)

{'Rohan': {'maths': 90, 'science': 80, 'english': 90, 'evs': 99},
 'Roh': {'maths': 903, 'science': 830, 'english': 930}}

In [30]:
fruits.pop('banana') # remove key value pair from dictionary

3

In [31]:
reports.pop('Rohan')

{'maths': 90, 'science': 80, 'english': 90, 'evs': 99}

In [32]:
pp(grocery)

{'fruits': ['apple', 'banana', 'orange', 'grape', 'mango'],
 'vegetables': ['carrot', 'lettuce', 'onion'],
 'diary': ['milk', 'cheese', 'yogurt'],
 'meat': None}

In [36]:
grocery['vegetables'].remove('onion') # remove value from list
pp(grocery)

{'fruits': ['apple', 'banana', 'orange', 'grape'],
 'vegetables': ['carrot', 'lettuce'],
 'diary': ['milk', 'cheese', 'yogurt'],
 'meat': None}

In [38]:
fruits.keys() #get all keys from dictionary

dict_keys(['apple', 'orange', 'mango'])

In [39]:
fruits.values() #get all values from dictionary

dict_values([10, 5, 25])

In [40]:
fruits.items() #get all key value pair from dictionary

dict_items([('apple', 10), ('orange', 5), ('mango', 25)])

In [43]:
#traversal
for k,v in fruits.items():
    print(k,v)

apple 10
orange 5
mango 25

In [44]:
reports['Roh']['english']

930

In [48]:
reports.get('Roh') #use of get function

{'maths': 903, 'science': 830, 'english': 930}

In [49]:
reports.get('Roh','nah hei') #use of get function

{'maths': 903, 'science': 830, 'english': 930}

In [50]:
reports.get('Rohaaan','nah hei') #use of get function

'nah hei'

In [52]:
reports['Rohan']={
    'english':90,
    'math':99,
    'science':88
}
pp(reports)

{'Roh': {'maths': 903, 'science': 830, 'english': 930},
 'Rohan': {'english': 90, 'math': 99, 'science': 88}}

In [54]:
for student, details in reports.items():
    print(student)
    for subject, marks in details.items():
        print(f'{marks} in {subject}')
    print('...'*8)

Roh
903 in maths
830 in science
930 in english
........................
Rohan
90 in english
99 in math
88 in science
........................

# create a dictionary of 5 employee with details
    - name : str
    - department : str
    - salary : int
    - skills : list
    - projects :dict
        - project_name : str
        - project_duration : int
        - project_technologies : list

In [62]:
emps = {
    'e1':{
        'name':'alex',
        'department':'HR',
        'salary':10000,
        'skills':['communication','management'],
        'projects':{
            'projects1':{
                'project_name': 'HRMS',
                'project_duration': 6,
                'project_technologies': ['excel', 'power bi', 'powerpoint']
            }
        }
    },
    'e1':{
        'name':'sam',
        'department':'IT',
        'salary':1000220,
        'skills':['communication','management','coding'],
        'projects':{
            'projects1':{
                'project_name': 'xyz',
                'project_duration': 9,
                'project_technologies': ['excel', 'power bi', 'powerpoint', 'python'],
            },
            'projects1':{
                'project_name': 'xyz',
                'project_duration': 9,
                'project_technologies': ['excel', 'power bi', 'powerpoint', 'python'],
            }
            
        }
        
    },
    
}