In [37]:
x=[1,2,3,4,5,6,7,8,9,10]
y=[] #empty list
z=['apple','banana','cherry','orange','kiwi','melon','mango']
a=['alex', 5, 'sam', 7,'john', 10, 'james', 15]
a3=[[1,2,3],
    [4,5,6],
    [7,8,9]]

In [38]:
class Movie:
    def __init__(self, name, year):
        self.name = name
        self.year = year
movies = [
    Movie("The Matrix", 1999), 
    Movie("The Matrix Reloaded", 2003),
    Movie("The Matrix Revolution", 2003),
    Movie("The Matrix Resurrection", 2021)

]

In [39]:
name = 'Mihir Tandon'
list(name)

['M', 'i', 'h', 'i', 'r', ' ', 'T', 'a', 'n', 'd', 'o', 'n']

In [40]:
print(list(range(1,10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
print(a[0])
print(a[-1])
print(a[-2])
print(a[1])

alex
15
james
5

In [42]:
#slicing
data= list(range(1,101))
print(data[:10])
print(data[10:20])
print(data[-10:]) #last 10 elements
print(data[23:36])
print(data[50:30:-1]) #reverse slicing
print(data[1::2]) #odd number
print(data[::-1]) #reverse slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36]
[51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [43]:
for item in a:
    print(item)

alex
5
sam
7
john
10
james
15

In [44]:
movies=[]
movies.append('shrek')
movies.append('movie 1')
movies.append('movie 2')
movies.append('movie 4')
movies.append('movie 5')
movies.append('movie 6k')
movies.append('movie 7')
movies.append('shrek 90')
movies.append('shr 0')
movies.append('sh88k')

In [45]:
movies

['shrek',
 'movie 1',
 'movie 2',
 'movie 4',
 'movie 5',
 'movie 6k',
 'movie 7',
 'shrek 90',
 'shr 0',
 'sh88k']

In [46]:
movies[2] = 'kung fu panda' #update
movies

['shrek',
 'movie 1',
 'kung fu panda',
 'movie 4',
 'movie 5',
 'movie 6k',
 'movie 7',
 'shrek 90',
 'shr 0',
 'sh88k']

In [47]:
movies.insert(3, 'kung fu panda 2') #insert
movies

['shrek',
 'movie 1',
 'kung fu panda',
 'kung fu panda 2',
 'movie 4',
 'movie 5',
 'movie 6k',
 'movie 7',
 'shrek 90',
 'shr 0',
 'sh88k']

In [48]:
#user created list
animelist=[]
for i in range(5):
    name=input('enter an anime:')
    animelist.append(name)
print(animelist)

['', '', '', '', '']

In [49]:
x=[1,2,3,4]
y=[5,6,7,8]

x+y  #creates a new list

[1, 2, 3, 4, 5, 6, 7, 8]

In [50]:
x.extend(y) #modifies x
print(x)

[1, 2, 3, 4, 5, 6, 7, 8]

In [51]:
movies.remove('kung fu panda 2') #first occurence is removed

In [52]:
movies.pop() #last element is removed

'sh88k'

In [53]:
movies.pop(5)  #removes the 6th index

'movie 6k'

In [54]:
movies

['shrek',
 'movie 1',
 'kung fu panda',
 'movie 4',
 'movie 5',
 'movie 7',
 'shrek 90',
 'shr 0']

In [55]:
value = 'shrek'
if value in movies:
    movies.remove(value)
else:
    print('value not found')

In [56]:
movies

['movie 1',
 'kung fu panda',
 'movie 4',
 'movie 5',
 'movie 7',
 'shrek 90',
 'shr 0']

In [57]:
movies.clear() #removes all elements

In [58]:
movies

[]

In [59]:
del a #deletes the variable from the memory

In [60]:
books = [
    'book1',
    'book2',
    'book3',
    'book4',
    'book5',
    'book6',
    'book7',
    'book8',
    'book9',
    'book10'
]

In [61]:
books.index('book7')

6

In [62]:
x=[21,3,4545,54,4,32,5,8,3,4]
print(x.count(3))
print(x.count(4))

2
2

In [65]:
books.reverse()
print(books)

['book10', 'book9', 'book8', 'book7', 'book6', 'book5', 'book4', 'book3', 'book2', 'book1']

In [66]:
books.sort() #sorts data in ascending order if all elements are of same types

In [67]:
print(books)

['book1', 'book10', 'book2', 'book3', 'book4', 'book5', 'book6', 'book7', 'book8', 'book9']

In [68]:
books.sort(reverse=True)
print(books)

['book9', 'book8', 'book7', 'book6', 'book5', 'book4', 'book3', 'book2', 'book10', 'book1']

In [70]:
books_backup = books.copy() #a copy of books is created at a different memory location

In [75]:
books2 = books #both variables point at the same location ❌

In [73]:
books.append('book11')
print(books)
print(books_backup)
print(books2)

['book9', 'book8', 'book7', 'book6', 'book5', 'book4', 'book3', 'book2', 'book10', 'book1', 'book11', 'book11']
['book9', 'book8', 'book7', 'book6', 'book5', 'book4', 'book3', 'book2', 'book10', 'book1']
['book9', 'book8', 'book7', 'book6', 'book5', 'book4', 'book3', 'book2', 'book10', 'book1', 'book11', 'book11']

In [76]:
books2 is books

True

In [77]:
books_backup is books

False