- ### tuple
    - python default sequential data strcuture
    - indexed, ordered, heterogenous
    - 'immutable'
    - represented by '()'
    - 'tuple' is faster than the 'list'
    - 'tuple()' convert any sequence to tuple

- ### set
    - unordered unindexed, mutable
    - 'unique elements' only
    - can store only immmutable elements
    - represented by { }
    - set() convert any sequence to set

### tuple

In [1]:
x = (1,2,3)
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

In [8]:
a=12, 13, 14
print(a)
print(type(a))

(12, 13, 14)
<class 'tuple'>

In [3]:
#single element tuple
b=(13,)
print(b)
print(type(b))

(13,)
<class 'tuple'>

In [10]:
# tuple unpacking
x1, x2, x3 = a #has 3 elements
print(x1,x2,x3)

12 13 14

In [13]:
a=(1,3,4,5,6,7,8,9,16)
a1, a2, *a3 = a #a3 will get the remaining elements as a list
print(a1,a2,a3)

1 3 [4, 5, 6, 7, 8, 9, 16]

In [16]:
a[-5:] #slicing

(6, 7, 8, 9, 16)

In [17]:
for i in a:
    print(i)

1
3
4
5
6
7
8
9
16

In [20]:
x = (1,2,3,1,3,1,2,3,1,2,3)
print(x.count(1))
print(x.count(2))
print(x.count(5))
print(x.index(3)) # 3 is the value to search
print(x.index(3,5)) # 3 is the value to search and 5 is the starting index

4
3
0
2
7

In [21]:
a = [1,2,3]
at = tuple(a) #list to tuple
al = list(at) #tuple to list
print(at)
print(al)

(1, 2, 3)
[1, 2, 3]

### list

In [22]:
s = {1,2,3,1,2,3,1,2,3}
print(s)
print(type(s))

{1, 2, 3}
<class 'set'>

In [23]:
s1 = set() #empty set
print(s1)
print(type(s1))

set()
<class 'set'>

In [25]:
s1.add(3)
s1.add(4)
s1.add('hello')
s1.add('all')
s1.add(3)
print (s1)

{'all', 'hello', 3, 4}

In [26]:
s1.discard(3) #remove 3 from s1 (remove() can also be used)
print(s1)

{'all', 'hello', 4}

In [29]:
for i in s1:
    print(i)

all
hello
4

In [32]:
name = set('mihir tandon')
print(name)

{'h', 'm', 'n', 't', 'i', 'a', 'r', 'o', 'd', ' '}

In [33]:
# set operations
group1 = {'apple','banana','orange','grapes','mango','pineapple','watermelon'}
group2 = {'apple','grapes','mango','pineapple','watermelon','kiwi','papaya','cherry'}

In [34]:
#union
print(group1 | group2) #all elements from both the sets
print(group1.union(group2))

{'banana', 'orange', 'apple', 'kiwi', 'papaya', 'watermelon', 'pineapple', 'cherry', 'mango', 'grapes'}
{'banana', 'orange', 'apple', 'kiwi', 'papaya', 'watermelon', 'pineapple', 'cherry', 'mango', 'grapes'}

In [35]:
#intersection
print(group1 & group2) #common elements from both the sets
print(group1.intersection(group2))

{'apple', 'watermelon', 'pineapple', 'mango', 'grapes'}
{'apple', 'watermelon', 'pineapple', 'mango', 'grapes'}

In [36]:
#difference
print(group1 - group2) # elements in group1 but not in group2
print(group2 - group1) # elements in group2 but not in group1
print(group2.difference(group1))

{'banana', 'orange'}
{'kiwi', 'cherry', 'papaya'}
{'kiwi', 'cherry', 'papaya'}

In [37]:
#symetric difference
print(group1 ^ group2) #elements in group1 or group2 but not in both
print(group1.symmetric_difference(group2))

{'banana', 'orange', 'kiwi', 'papaya', 'cherry'}
{'banana', 'orange', 'kiwi', 'papaya', 'cherry'}

# task
- create a list called reports that will hold report of 7 students.
- each stiudent will have a name and marks in 3 subjects
- use for loop to display the report to each student

In [57]:
reports=[
    ['Rohan',[
        ['maths', 90],
        ['science', 80],
        ['english', 90],
    ]]
]

In [66]:
for student in reports:
    for detail in student:
        if isinstance(detail,str):
            print(detail)
        if isinstance(detail, list):
            for subject in detail:
                print(subject[0], subject[1])

Rohan
maths 90
science 80
english 90